*{margin:0;padding:0;outline:0;}
html,body{padding:0;margin:0;width:100%;line-height:100%;vertical-align:baseline;}

body {
background-color: rgba(250,250,250,1);
}
h1,
h2,
h3,
header,
footer{
	visibility:hidden;
}

#disappear{
    background-color: #FFFFFF;
    border: 2px groove #2196F3;
    cursor: pointer;
    height: 150px;
    width: 150px;
    position: relative;
    margin: 0 auto;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 188, 212, 0.58);
}
#disappear .disk{
    background-color: #EAD96A;
    height: 50px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 1px 4px #FFEA65, 0px 0px 3px 1px rgba(29, 29, 29, 0);
}
#disappear .disk:before{
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    top: 16px;
    z-index: 2;
    width: 16px;
    height: 7px;
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: inset 0px 0px 3px 0px #6B1B15;
}
#disappear .k{
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    height: 6px;
    width: 6px;
    border: 2px dotted #B9635D;
    top: 14px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px #A29956,1px 1px 1px 2px #FFF196;
}
#disappear .k-l:before{
    content: "";
    background-color: #A72B22;
    display: block;
    height: 2px;
    width: 2px;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    box-shadow: -1px 45px 0px 0px #A72B22, 69px 45px 0px 0px #A72B22, 69px 0px 0px 0px #A72B22, 28px 35px 0px 1px #FFFFFF, 42px 35px 0px 1px #FFFFFF, 48px 37px 0px 1px #FFFFFF, 22px 37px 0px 1px #FFFFFF;
}
#disappear .k-l:before{
    top: -14px;
    left: -13px;
}

#disappear .k-l{left: 13px;}
#disappear .k-r{right:13px;}
#disappear .disk:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: -1px;
    right: -1px;
    z-index: 2;
    height: 22px;
    background-color: #EAD96A;
    border-radius: 3px;
    box-shadow: inset 0px 0px 1px 3px #FFEA65, 0px 2px 2px 1px rgba(23, 23, 23, 0.48);
}
#disappear .kos{
    background-color: #FFEA65;
    display: block;
    position: absolute;
    height: 3px;
    width: 90px;
    /* border: 1px solid #FFA29B; */
    top: 66px;
    left: -8px;
    box-shadow: inset 0px 4px 2px 0px #EFDB5F, 0px 0px 3px 1px rgba(29, 29, 29, 0.49);
    z-index: 20;
}
#disappear .kos-1{
    transform: rotate(15deg)
}
#disappear .kos-2{
    transform: rotate(-15deg)
}
#disappear .kos:before,
#disappear .kos:after{
    content: "";
    background-color: #FFEA65;
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    top: -9px;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0px 10px 0px 0px #FFEA65;
}
#disappear .kos:before{
    left: -11px;
}
#disappear .kos:after{
    right: -11px;
}

/*.checked*/
#disappear #chika:checked + .disk{
    height: 46px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 1px;
    box-shadow: none;
    border: 1px solid #8C8C8C;
    border-color: #D4D4D4 #3A3A3A;
	background: #9b9b9b;
	background: -moz-linear-gradient(top,  #9b9b9b 0%, #3a3a3a 100%);
	background: -webkit-linear-gradient(top,  #9b9b9b 0%,#3a3a3a 100%);
	background: linear-gradient(to bottom,  #9b9b9b 0%,#3a3a3a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#3a3a3a',GradientType=0 );
}
#disappear #chika{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	opacity:0;
	cursor: pointer;
    z-index: 10;
}
#disappear #chika:checked + .disk:before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: -5px;
    right: 0;
    z-index: 2;
    width: auto;
    height: 1px;
    background-color: transparent;
    border-radius: 2px;
    border-style: solid;
    border-width: 0px 2px 3px;
    border-color: transparent transparent #B3B3B3;
    box-shadow: inset 0px -1px 0px 0px #828282;
}
#disappear #chika:checked + .disk:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0px;
    top: 1px;
    z-index: 2;
    width: 10px;
    height: auto;
    background-color: #6A6B6A;
    border-radius: 0px 25% 25% 0px;
    box-shadow: inset -1px 0px 1px 0px rgba(179, 179, 179, 0.82), 1px 0px 1px 0px rgb(74, 74, 74);
}
#disappear #chika:checked + .disk .k{
    background-color: rgba(0, 0, 0, 0);
    display: block;
    position: absolute;
    height: 6px;
    width: 10px;
    border: 2px dotted #B9635D;
    top: 46px;
    border-radius: 0;
    box-shadow: none;
    border-width: 10px 7px 10px 0px;
    border-style: solid;
    border-color: #3a3a3a transparent transparent;
}
#disappear #chika:checked + .disk .k-l:before{
    content: "";
    background-color: #A72B22;
    display: none;
    height: 2px;
    width: 2px;
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    box-shadow: -1px 45px 0px 0px #A72B22, 69px 45px 0px 0px #A72B22, 69px 0px 0px 0px #A72B22, 28px 35px 0px 1px #FFFFFF, 42px 35px 0px 1px #FFFFFF, 48px 37px 0px 1px #FFFFFF, 22px 37px 0px 1px #FFFFFF;
}
#disappear #chika:checked + .disk .k-l:before{
    top: -14px;
    left: -13px;
}

#disappear #chika:checked + .disk .k-l{
    left: -1px;
    width: 18px;
}
#disappear #chika:checked + .disk .k-r{
    left: 31px;
}
#disappear #chika:checked + .disk .kos-1{
    background-color: transparent;
    box-shadow: none;
    position: absolute;
    top: 20px;
    left: 30px;
    font: normal 300 10px/12px arial, sans-serif;
    color: #C7C7C7;
    text-transform: uppercase;
    transform: rotate(0deg);
    letter-spacing: 1px;
    text-shadow: 0px 1px 0px #333;
    width: 40px;
}
#disappear #chika:checked + .disk .kos-1:before{
	content: "memory card";
	box-shadow: none;
	background-color: transparent;
}
#disappear #chika:checked + .disk .kos-1:after{
    border-width: 5px;
    border-style: solid;
    border-color: transparent #9A9A9A #9A9A9A transparent;
    background: transparent;
    border-radius: 0;
    height: 0;
    width: 0;
    box-shadow: 3px 3px 0px 0px #6B6B6B;
    right: 2px;
    top: 8px;
}
#disappear #chika:checked + .disk .kos-2{
    opacity:0;
}
#disappear div{
    -webkit-transition: all 0.6s ease 0s;
	-moz-transition: all 0.6s ease 0s;
	-ms-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
    transition: all 0.6s cubic-bezier(0, 0.94, 0.4, 1.16) 0s;
}
#disappear div span{
    -webkit-transition: all 0.8s ease 0.3s;
	-moz-transition: all 0.8s ease 0.3s;
	-ms-transition: all 0.8s ease 0.3s;
	-o-transition: all 0.8s ease 0.3s;
    transition: all 0.8s cubic-bezier(0, 0.94, 0.4, 1.16) 0.3s;
}

/*Yes*/